html {
  box-sizing: border-box;
} */

*::after {
  box-sizing: inherit;
}

body {
  background-color: #F3E8EE;
  color: #42213D;
  font-family: 'Caveat'
}
body{
  background-image:url(https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=10);
}
nav {
  background-color: #42213D;
  color: #F3E8EE;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-evenly;
  margin-top: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 

.food-img{
  width: 200px;
  padding: 10px;
  height: 200px;
}
/* .right {
  margin-left: auto;
} */
nav > a {
  text-decoration: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F3E8EE;
  border: 2px solid  #F3E8EE ;
  width:100%;
  line-height: 40px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px
}
nav > a:hover{
  background-color: #6e516a;
}

.icon{
  width: 100px;
  border-radius: 50px;
}
h2{
  font-size: 50px;
}
h1, h3{
  font-family: 'Yanone Kaffeesatz'
}

#recipeHub{
  font-size: 75px;
  text-align: center;
  font-weight: bolder;
  color: #9f3842;
}

#recipeHub > a:visited { 
  text-decoration: none; 
  color: #9f3842; 
}