html {
  box-sizing: border-box;
} */

*::after {
  box-sizing: inherit;
}

body {
  background-color: #F3E8EE;
  color: #42213D;
  font-family: 'Caveat'
}

nav {
  background-color: #42213D;
  color: #F3E8EE;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 0;
}

 main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 

.food-img{
  width: 200px;
  padding: 10px;
  height: 200px;
}
.right {
  margin-left: auto;
}
nav > a {
  margin: 10px 30px ;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F3E8EE
}
.icon{
  width: 100px;
  border-radius: 50px;
}
h2{
  font-size: 50px;
}
h1, h3{
  font-family: 'Yanone Kaffeesatz'
}
