<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<h1><%= title %> </h1>
  <form action="/ingredients" method="POST">
    <input type="text" name="name">
    <button type="submit">Create Ingredient</button>
  </form>
  <a href="/ingredients"> View All Ingredients Added</a>
<%- include('../partials/footer') %>