h1{
text-align: center;
font-size: 50px;
}
h2{
  text-align: center;
  font-size: 30px;
}
h3{
  margin-top:40px;
  text-align: center;
}
button{
  font-family:'Yanone Kaffeesatz'; 
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  background-color: #42213D;
  color: #F3E8EE;
}
button:hover{
  background-color: #915d89 ;
}
input{
  background-color: #F3E8EE;
  border: 4px solid #42213D;
  border-radius: 10px;
  height: 30px;
}