<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/log.css" />
<%- include('../partials/nav') %>

<h1>Uh oh! Please Log In To Access That Feature</h1>
<div 
  id="g_id_onload"
  data-client_id="<%= googleClientID %>"
  data-login_uri="/auth/google"
  data-auto_prompt="false"
></div>
<div class="google">
<div 
  class="g_id_signin"
  data-type="standard"
  data-size="large"
  data-theme="outline"
  data-text="sign_in_with"
  data-shape="rectangular"
  data-logo_alignment="left"
></div>
</div>
<h3>⬆️  Sign In To Google By Clicking Above  ⬆️</h3>

<%- include('../partials/footer') %>