
  h2{
    font-size: 60px;
    text-align: center;
    align-items: center;
  }
  body{
    text-align:center;
  }
  ul{
    display: inline-block;
    list-style-type:square
  }
  .recipe{
    font-size: 30px;
  }
  .owner{
    font-size: 20px;
  }
  ul{
    font-family: 'Yanone Kaffeesatz';
  }

  form > button{
    background-color: #42213D;
    color: #F3E8EE;
    font-family:'Yanone Kaffeesatz'; 
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  background-color: #42213D;
  color: #F3E8EE;
  margin-left: 20px;
  }
  form > button:hover{
    background-color: #6a4765;
    color: #F3E8EE
  }
  .recipe-name{
    font-size: 50px;
  }

  ul{
    list-style: none;
  }
