.google{
  align-items: center;
  text-align: center;
  margin-left: 43%;
  margin-right: 43%;
}
body{
  align-items: center;
  text-align: center;
  font-family: 'Yanone Kaffeesatz'
}
h1{
  text-align: center;
  font-size: 50px;
  font-family: 'Yanone Kaffeesatz' ;
}