h1{
  text-align: center;
  font-family: 'Yanone Kaffeesatz'
}

.r-details{
  font-size: 25px;
  text-align: center;
  font-family: 'Yanone Kaffeesatz';
  margin-top: 10px;
}
.details{
  text-align: center;
  font-family: 'Yanone Kaffeesatz';
  font-size: 20px;
}

.comment{
  position: relative;
  margin-left: 20%;
}
.comments{
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  font-family: 'Yanone Kaffeesatz';
  list-style: none;
  position: relative;
  justify-content: center;
  font-size: 20px;
}
.delCom{
  border-radius: 10px;
  width: 30px;
  background-color: #42213D;
    color: #F3E8EE
}

.addCom{
  height: 30px;
  border-radius: 10px;
  background-color: #42213D;
    color: #F3E8EE
}
.addIng{
  height: 30px;
  border-radius: 10px;
  background-color: #42213D;
  color: #F3E8EE;
  margin-bottom: 30px;
}
.lIng{
  list-style: none;
}
ol{
  display: inline-block;
}
textarea{
  border-radius: 5px;
  line-height: 20px;
  height: 20px;
}
.recipe-details{
  border-bottom: 1px solid black;
  font-size: 40px;
}
.step-details{
  border-bottom: 1px solid black;
  text-align: center;
  margin-top: 0;
}
h4{
  text-align: center;
}
h1{
  font-size: 50px;
}
h2{
  font-family: 'Yanone Kaffeesatz';
}
#commentTitle{
  font-size: 40px;
}