h1{
  text-align: center;
  font-family: 'Yanone Kaffeesatz'
}

.author{
  font-size: 40px;
  text-align: center;
  font-family: 'Yanone Kaffeesatz';
  margin-top: 5%;
}
.details{
  text-align: center;
  font-family: 'Yanone Kaffeesatz'
}

.comment{
  text-align: center;
}
.comments{
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  font-family: 'Yanone Kaffeesatz';
  text-align: center;
  justify-content: center;
  list-style: none;
}
.addCom{
  height: 30px;
  border-radius: 10px;
  background-color: #42213D;
    color: #F3E8EE
}
.addIng{
  height: 30px;
  border-radius: 10px;
  background-color: #42213D;
    color: #F3E8EE
}
.lIng{
  list-style: none;
}
.details{
  font-size: 20px;
}
ol{
  display: inline-block;
}
textarea{
  border-radius: 5px;
  line-height: 20px;
  height: 20px;
}
.recipe-details{
  border-bottom: 1px solid black;
}
.step-details{
  border-bottom: 1px solid black;
  text-align: center;
  margin-top: 0;
}
h4{
  text-align: center;
}